<footer>
    <div class="row">
        <div class="col-lg-12">

            <ul class="list-unstyled list-inline">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href);
                        return false;">Blog</a></li>
                <li><a href="https://twitter.com/ipez">Twitter</a></li>
                <li><a href="https://facebook.com/ipez">Facebook</a></li>
                <li><a href="https://www.ipez.com/">Site Web</a></li>
                <li><a href="../help/#api">FAQ</a></li>
            </ul>
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

        </div>
    </div>

</footer>