<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IPEZ</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('ipez_party_homepage') }}">Evenements</a></li>
                <li><a href="{{ path('ipez_product_homepage') }}">Produits</a></li>
                <li><a href="{{ path('ipez_customer_homepage') }}">Clients</a></li>
            </ul>
        </div>
    </div>
</div>