{% extends "::base.html.twig" %}
{% block title %}Creation Client - Module Client{% endblock %}

{% block body %}
<form action="{{ path('ipez_product_create') }}" method="post" class="form-horizontal jumbotron">
    <fieldset>
        <legend><h2>Ajout Nouveau Client</h2></legend>
        <div class="form-group">
            <label for="inputReference" class="col-lg-2 control-label">Référence Produit</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="Reference" placeholder="Reference">
            </div>
        </div>
        <div class="form-group">
            <label for="inputTradeName" class="col-lg-2 control-label">Nom Commercial Produit</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTradeName" placeholder="Nom Commercial">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCI" class="col-lg-2 control-label">Stock Produit</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="inputCI" placeholder="Stock">
            </div>
        </div>
        <div class="form-group">
            <label for="mySelect" class="col-lg-2 control-label">Caractéristiques Produits</label>
            <div class="col-lg-5">
                <select id='mySelect' multiple='multiple'>
                    <option value='elem_1'>elem 1</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Annuler</button>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}