{% extends "::base.html.twig" %}
{% block title %}Creation Evenement - Module Evenement{% endblock %}

{% block body %}
<form action="{{ path('ipez_party_create') }}" method="post" class="form-horizontal jumbotron">
    <fieldset>
        <legend><h2>Ajouter un évènement</h2></legend>
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Nom</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name ="name" id="name" placeholder="Nom">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="col-lg-2 control-label">Adresse</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="address" id="inputAddress" placeholder="Adresse">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCp" class="col-lg-2 control-label">Code Postal</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="cp" id="inputCp" placeholder="Code Postal">
            </div>
        </div>
        <div class="form-group">
            <label for="inputTown" class="col-lg-2 control-label">Ville</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="town" id="inputTown" placeholder="Ville">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" class="col-lg-2 control-label">Date</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" name="date" id="inputDate" placeholder="date">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Annuler</button>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}